<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>

</head>

<body>

    <input type="text" id="message">
    <button onclick="sendMessage()">send</button>
    <h1></h1>

    <script>

        let socket = io('http://localhost:3000')
        socket.on('connection')

        socket.on('message',(data)=>{
            
             document.querySelector('h1').innerHTML=data
        })

        function sendMessage(){

            let msg=document.getElementById('message').value
            
            socket.emit('message', msg)
        }

    </script>

</body>

</html>